<h1>ABOUT</h1>

<br>


<div id="text-text">

<p>Uberlin is a collection of queer mythical cyber-punk short stories written by Anna Sternspeier.</p>

<p> Updates will be irregular for now.</p>

<br>

<p>
    All short stories are set in the city of Uberlin, a fictionalized version of what Berlin, Germany might
    look like in the distant future of {{ tDate }}. The city is a chaotic hellscape, haunted by hyper capitalist tech-wizards,
    trash showers from the stratosphere, unknowable godlike True AIs living on the Ubernet and decaying enchanted forests. On the plus side,
    they somewhat solved climate change (though the solution may be worse).
</p>
<p>
    In midst of Uberlin lives and dies our group of protagonists. Some may call them activists, some call them terrorists and yet
    others may find them to be simple bandits, but they call themselves "The Body Snatchers". The purpose of the Body Snatchers,
    a group consisting almost exclusively of trans people, is to steal medical supplies like hormones, hormone-blockers
    and synthetic body parts. Some of them they keep to themselves, some they distribute among trans people who cannot
    afford the high cost medical care of Uberlin.
</p>
<p>
    This isn't even scratching the surface, but it should be enough for you to dive in. The stories are mostly self contained,
    so don't worry about it too much.
</p>

</div>