.navigation-header {
    background-color: var(--myblue);
    margin-right: 17%;
    margin-left: 17%;
    box-shadow: 2px 2px 5px black;
}

.navigation-header ul {
    list-style-type: none;
    margin-top: 0;
}

.navigation-header ul li {
    position: relative;
    display: inline;
    margin: 0 0 0 20px;
}

.navigation-header ul li a:link {
    color: var(--mypink);
    text-decoration: none;
}

.navigation-header ul li a:visited {
    color: var(--mypink);
    text-decoration: none;
}


.navigation-header ul li a:hover {
    color: var(--mywhite);
    text-decoration: none;
}
