<h1>SOUNDING THE TRUMPET OF TRANS REBELLION</h1>

<br>

<div id="text-text">

<h2>PART 1</h2>

<br>
<div class="quote-margin">
<p style="font-style: italic;">
    "The Greatest Cruelty is this: A million people may be subject to the
    decisions of a single person or handful of people and we are always of the millions.
</p>
<p style="font-style: italic;">
    Our name for this is fate."
</p>
<p style="text-align: right;">- Body Snatcher Manifesto, {{ tDate }}</p>
</div>
<br>

<p>"Alright, Imma shoot U out the cannon in 57 seconds, ok!?" she shouted barely
loud enough to outvol the city noise. Cars in the area usually had cranked
up sound pollutors, that way the drivers would feel real big when they dashed through
the narrow streets.</p>
<p>"Je!", I shouted right back. I blended into the car cacophony.</p>
<p>"U hit that megadrone right on top! Shouldn't be any pilot! If there is ... well,
there shouldn't!"</p>
<p>"If there is Imma yiff that fuckoids sternum and scat in their frothdead braintube!"</p>
<p>Only the night watched closely. Everyone else ignored or didn't see us.</p>
<p>"Bitch, what!?" she asked like she didn't know.</p>
<p>"U heard!"</p>
<p>"Je ... I just think like ... 90% of those words were illegal!", she made an
unreadable expression. Couldn't really see her in the dark anyways.</p>
<p>"I don't care!", I screamed.</p>
<p>"... Whatev! ... The drone should be m2 serial m226448261-L! If thats true the
stick'll land it!"</p>
<p>"What!? Be louder!"</p>
<p>"I SAID THE STICK WILL LAND THE DRONE!"</p>
<p>"OKAY!"</p>
<p>"IF IT AIN'T, GO MAKE FUCKOID OR WHAT! SAME IF THERE'S A PILOT!"</p>
<p>"I KNOW THAT! I GODGORE KNOW IT ALREADY. U THINK I DON'T LISTEN, BUT I CREAM."</p>
<p>"U THE WEIRDEST OF US ALL, SHITMONKI ... 
ANYWAYS, IMMA FIRE THE CANNON NOW, SO GET READY AND DON'T DIE, PLEASE."</p>

<br>

<p>
    I strapped in all tit and neat into the casing. It was a big copper thing made from scrap and
    a shitty seatbelt, freshly stolen from some of those maggotbrain low tier wizard cars.
    The cannon was diy, using online tutorials for building space trash cannons,
    but with less power than those. Real glory in the hole, the thing. Adrenaline
    puffed up my face, contorting towards a mean old grin. I expected. Anticpated
    even. I giggled my true name and hit my chest, which became as graphene. I felt unkaputtbar.
</p>
<p>I shouted: "U BETTER NOT MISS, CUMSQUATSH"</p>
<p>"FUCK U!", she shouted back, and ...</p>
<p>
    Nothing.
</p>
<p>
    FIRE!
</p>
<p>
    My ass lit up. So loud that tinitus entered my braintubes. Pants literally burning.
    Melted with the casing, bottom broken through. Couldn't hold it, so I screamed
    like a cartoon freak, but the sound barrier was already broke. Adrenaline flooded
    now completely. All rushing, pumping, blood through my mind and bare think. No
    face but all faces. My minimum remained. I squeeled all silent, full tasmanian,
    and fucked right out my seat. A billion sparks thrashed through the air. Wind freezburned me,
    but my skin was real tough. Struggle to feel all everything at once.
</p>
<p>
    Then it all calmed down for the longest of all split seconds. My eyes were crying,
    my blood and body floated, suspended in space, and I saw from the heavens a most beautiful
    and most horrific sight: the city, build, crashed, rebuild and recrashed, evercyclic:
    the place of sweet nightmares and grim: the city arm, aber sexy:
    Uberlin.
    In this tranquil moment, all my body went soft. Drool left my mouthhole, sticking
    to my face, and I pissed my pants right then and there. Strangely, I couldn't
    have cared less. All was good.
</p>
<p>
    Then I fell. Softly almost, compared to before the least. There was barely any air,
    though. Couldn't breath enough, so I half passed out. Yet, the drone was there,
    right in front, closer and yet closer.
</p>
<p>
    They had a delivery to the Charite, Uberlins
    most biggest hospital. Delivery by drone to the highest floor, cuz they thought we
    couldn't reach. Poor rich folk, always underestimating the power of a few very
    determined individuals. My whole body tickled, even the artificial parts. From my
    brain over bluetooth, through the air, barely functional, to my limbs, I started
    the rocketboosters to slow my fall and target.
</p>
<p>
    BAMM! With a bashing of metal against metal I arrived, a small crater in the hull!
    The drone strayed from the impact, two of the droneblades almost
    dying. My body felt numb to the touch, my soul was gross beyond. One leg at a time
    magnet stomped across the flying beast, slowly creeping itself to the head. My mind
    unthunk all thought and drove by instinct. Lightcutter in hand, I opened the hood
    up and found, of course, no wires. No ports or tubes, not even some fucked up bio
    experiment or a bomb with middle finger on it, but a live fucking pilot. 
</p>
<p>
    "FUCK!", we both screamed in unison.
</p>
<p>
    The pilot started cursing to himself like someone who was way too online. Maybe that's rich of me
    to say.
</p>
<p>
    I paused. "ALRIGHT, GUESS U'RE A HOSTAGE NOW, HON! LAND SEESTRASSE!"
</p>
<p>
    He seemed to pause, but he didn't. Instead moving his hand slightlike, my watery
    eyes didn't catch his motion. Right then, he held a gun to my face and before I
    could curse he shot me.
</p>
<p>
    He fucking shot me! In the head, too! Bullet drumming my numbwit skull, I fell back.
    Almost off vehicle, but a reflex, a twitch, had me touch the hull again with one of
    my magnets. I felt dead, but wasn't. Hadn't even penetrated my skin, just shook the
    brain around severely and made a bunch of noise; and so my surface toughened yet more upon me
    rewhispering my true name. Only, the shock stuck: High pitch noise had filled
    my ears. Unable to control my body I vomited, all the way down, 500 metres below, on
    a very unhappy medical student. Then the will triumphed and my body moved again. I
    crawled on all fours to get a better hold for next when he shot me. He did in fact
    do that, a lot. Shit hurt like unimagination, but the adrenaline kept me up. My
    heart felt like a trillion explosions.
</p>
<p>
    As I neared, I wanted to say something. Perhaps something witty or at least fucked
    up. I didn't manage more than a gurgle. Eager, zoned out hands grabbed his
    skull. He struggled. I couldn't get good hold. Then I managed to reach forward and unbuckle
    him.
</p>
<p>
    He grasped my hand. I tried to throw him off, but he kept pulling.
</p>
<p>
    Then, again unthunk, I shredded his back on the droneblades.
</p>
<p>
    He let go, falling, with a terrible cry for help, forever lost. The second I saw,
    I felt it burn my mind forever, although I could not yet comprehend what I had done.
</p>
<p>
    That man died right then and there, without much grace and with even less blame.
</p>
<p>
    Even the drone, in some grim acknowledgement of its pilots horrific fate. Turned
    heel. One rotor blade now finally giving in from the added strain of cutting
    human flesh. There was no time to contemplate. I took the seat, now empty, searched
    the port and sticked it.
</p>
<p>
    The megadrone did not like that. It wasn't the make the
    stick was intended for. Of course it wasn't, this one had had a pilot. It went by the side, gaining speed while
    half falling.
    And so we, too, crashed.
</p>

<br>

<p>
    I woke up minutes or hours later, probably not days. Hopefully not days. At some
    point it must have rained, and stopped raining, cuz there were puddles all over.
    In fact, I was lying in one of those puddles, right on my back, where some sharp
    object was poking me. It was still night.
    The drone had crashed into a park of some sort or other. Maybe a forest, but
    probably not. My system was shitlike and I nonunderstoodly sobbed
    for half a minute. Life is rough, I suppose. Thankfully no one was around to see.
</p>
<p>
    My mouth had a pelt to it, but I could whisper my true name well
    enough and pry myself from the mess. Standing next to the trashcan, I realized my fuckup had in
    fact taken a second life today. She(?) was crushed under the drone. Maybe more,
    actually. I couldn't really see.
</p>
<p>
    I started sobbing again. "No.", I then spoke aloud to myself, "Not yet. We can break
    down at home. Now we have to pull through." As always, I listened, knowing full well the day
    of sobbing would never come. My
    body shook and moved very slowly, but it moved and that was good enough. With a
    bit of stubborn will, I managed to put a food forward. Whispering my true name the
    second food followed. I thought to myself that I had endured thus far and that I was,
    in fact, the best at enduring in the whole wide world. I thought to myself:
    <a style="font-style:italic"> Wow, I really AM the shitmonki.</a> As if that meant
    anything. Still it cut somehow.
    My mouth opened, but I couldn't come up with a cuss. So I just shut up and walked
    away, maybe five metres.
</p>
<p>
    We couldn't use any tracking and I sure as hell was in no state to look it up, so
    I didn't really know where I was. I asked C-Witch through the pager, which was a tech
    spell too ancient to be understood by mortals. But basically it was old and hacked
    and couldn't be easily tracked, which was good. It beeped with terror, answering
    immediatly: "u r n neukoelln grab w u can & get t h out." and wow, if that
    wasn't clear.
</p>
<p>
    Magboots itching on my feet, I walked right back and tried and failed to not feel
    sorry for myself like a big stinking loser. My stares went towards corpse again, paralyzed.
    This time I'd really done it, my life was now rightfully forfeit, I thunk. Doubly
    forfeit, even. Yet, despite the injustice of my continued existence, I somehow continued anyways. Looking
    unblinkingly at the megadrone instead, I moved again. Prying it open wasn't tough,
    cuz it was cheaply made. Still, what was inside truly wasn't: a metric shit ton of cyber prostetics.
</p>
<p>
    As my friendly witch had advised me, I grabbed what I could, which was exactly
    three crates and one cyber arm half tugged into belt. Then I walked
    into the night.
</p>


</div>