<h1>SOUNDING THE TRUMPET OF TRANS REBELLION</h1>

<br>

<div id="text-text">

<h2>PART 2</h2>

<br>

<p>
    This then was my body:
</p>
<p>
    I was hugged by a gray exoskeleton, which despite everything had not taken any signifacant damage. It wasn't a vehicle like
    exo, like factory workers got, but military grade semi-weaponry; stuff we had only ever stolen twice. Because it
    was jammed directly into my bones, I couldn't take it off ever. Even then B-Movie had had to readjust and repair the
    thing multiple times and it made me look kinda small and hunched, because it wasn't 100% aligned to my size.
</p>
<p>
    Underneath that, my skin was white and kinda sickly looking in the yellow light of the midnight park lamps. But at least it
    was soft to the touch.
</p>
<p>
    I had pretty good muscles and an equally good amount of fat to hide what maybe would've been a six pack. My hips were kinda small,
    but my breasts were average, but I still held onto some hope that they might grow some more.
</p>
<p>
    My face was the absolte worst. It was dominated by the square chin. My nose was a big ugly bulb. My hair was short
    and black and cute and soft, but my hairline was receding in the worst possible way.
</p>
<p>
    Anyway U looked at me, U could not really see my age. One would either see me as a young woman or an old hag,
    but never in between. Still, even U guessed me to be young, I was not pretty. I was not beautiful. This was the body which I had
    fought for my entire life, and it still wasn't even close to being finished. Maybe it never would be. I was a monster.
</p>
<p>
    Sad green eyes looked back at me from the reflection in the small lake.
</p>

<hr class="hr-break">

<p>
    It wasn't actually a lake, I think. I dunno. It was somewhere in between small lake and humongous pond. My sorry ass was
    standing there because my load was too heavy and the tired had gotten through to me, even though I knew someone, anyone,
    must've heard the crash. I was way too unlucky for that not to have happened. There was probably cops right around the
    corner, and worse yet it was probably corporate since I was in Neukölln. State cops I could probably take, I thought,
    at least the regular ones, since they were mostly scared and underpaid little shitlets. Corporate police were
    another matter entirely. They were well armed mercenary armies, equipped with exos like mine and other more dangerous junk.
</p>
<p>
    So basically, there was plenty of reason to leave and to do so quickly, as C-Witch had advised. No time for starring at
    reflections and suicidal ideations. Imagine my shock, when I heard a raspy voice from behind me shouting: "Hello!?"
</p>
<p>
    I was doomed. Perhaps I could've ran away, but I could not leave the load behind. Not after everything I had done. Fight or flight
    was no longer a choice, my fate had already been decided by inanimate objects. My body, and U now the kind of thing it is, tensed up.
    "You there, I can see you!" A flashlight burned my back and exposed my harsh shadow to the lake. "What the? The fuck is wrong
    with U trespassers these days?"
</p>
<p>
    I had several answers as to what the fuck was wrong with me, but I didn't think he really needed one. The voice said: "Whatev. Just lift
    those arms and turn around." And I did.
</p>
<p>
    He was mid-sized white dude, a bit bigger than me, tugged into an overall and a cap that said something on it. Probably a night
    guard or something. Had to be. I unclenched my buttcheeks and sighed loudly. He was so nerveous; pointing a gun at me with shaky
    hands that were in desperate need of gloves. "Astre", I said aloud.
</p>
<p>
    He shouted: "What?"
</p>
<p>
    I could take him, I thought. This was a winning battle by any stretch of the imagination, though I felt kinda ashamed at how quickly
    my violence seemed to have become the only option. "It's my name." I lowered my arms. By some miracle he didn't shoot.
</p>
<p>
    "Why would I need Ur name!?"
</p>
<p>
    "U don't", I said, "<a style="font-weight: bold;">I</a> need my name." In truth I needed it more than ever.
</p>
<p>
    The utter confusion in his face made him look kinda boyish. I said: "Look, U're way in over your head.
    Please just ... leave?"
</p>
<p>
    "Fuck U! I got the gun, I make the rules."
</p>
<p>
    I somewhat comically looked at the exo and then at the heavy crates. "Are U stupid or did they replace your brain with a bot?
    I got military shit. And U gotta figure there's magic afoot too, right? U can't be that naive, right?"
</p>
<p>
    "Like shit U got magic!"
</p>
<p>
    "Fine then. Shoot."
</p>
<p>
    "WHAT!?"
</p>
<p>
    "Shoot!", I repeated.
</p>
<p>
    "I don't wanna fucking shoot another human being!"
</p>
<p>
    This might be freakishly sad, but that was the nicest thing anyone had said to me in weeks. Nevertheless: "If I prove
    I got magic U run, right? So shoot me. I literally just said aloud my true name, it won't even scratch. I'll do it again! Astre!
    Now fucking shoot me."
</p>
<p>
    But all that this did was consolidate his confusion. His eyes were like if he never had seen a tree in his entire life and
    then, suddenly, had walked into a forest. Nothing but the faint grayish hue of stray and distant lights illuminated him. I snapped:
    "U nosesharting little grovelbot! U thoughtrotten micro-plastic brain, shoot me already! U think I don't deserve it? Well I fucking do,
    so do Ur part!"
</p>
<p>
    Didn't shoot.
</p>
<p>
    Now I got desperate. "FUCK U! I WILL KILL UR FUCKING FAMILY AND DROWN ASS-SIDE DOWN IN LAKE UNTIL UR CORPSE REVERSE ENEMAS ITS GUTS OUT!"
</p>
<p>
    "Heat", he disruspted me. There was a bit of a pause, like he had to think.
</p>
<p>
    "WHY!? IT'S ME OR U, SO FUCKING KILL ME ALREADY!"
</p>
    But then he said: "Heat from fire?" and my entire world crumbled. Utter embarassement went through me like a wave. It started at my feet shot all the way throug my legs, stomach, chest, head,
    then back down until it settled resolutely in my stomach. The pain made me wanna puke.
</p>
<p>
    He was obviously expecting something, but I didn't wanna say it. At this point I just kind wanted out, any means necessary. Well,
    not by violence, although the thought did cross my mind. Before I the accumulating taers could escape, I shut my eyes closed. Shit 
    on Bright 31. Fate is cruel and I was was never gonna get a long nights sleep.
</p>
<p>
    "And fire from heat", I responded reluctantly.
</p>
<p>
    He lowered the gun. "Huh ... didn't think that was gonna work."
</p>
<p>
    "C'mon man, I know I don't pass well. No need to pretend."
</p>
<p>
    "Je, but ... I dunno, I just never said it before", he said.
</p>
<p>
    "Wooooow, such luck that I'm Ur first. Really", I said.
</p>
<p>
    "So ... do U need help?"
</p>
<p>
    Although I hated to admit it, this was now the second most nicest thing anyone had said to me in weeks.
    I said: "More than U know. But it'd really be better if U left. I wasn't joking. I am a criminal and a bad person and
    I got unlicenced magic."
</p>
<p>
    "Like a licence would make it less dangerous." He seemed to look into the distance, the direction of where I had crashed.
    "Anyways U don't gotta worry until morning. There ain't any other guards tonight, cuz there's nothing to steal. Only
    people I usually gotta throw out are entitled night
    joggers with dogs and teenagers who don't care what crime they're commiting so long as they're commiting it."
</p>
<p>
    Great, so I had either a woman and a dog or damned child. I became more horrid by the second and I started to feel like I should kill
    myself right after I the crate delivery. It was truly festering within me, like an ulcer in my soul. It grew and grew and I could feel
    it thrive. Not yet.
</p>
<p>
    "Well," I said, forcing a smile, "lucky me." Why did I have to meet another trans person? I should've met a nazi instead or some other
    person hostile towards my existence, at least I would've known how to deal with that. Of course I didn't say any of that. Instead, I asked:
    "U probably know the out, then?"
</p>
<p>
    "Je, of course."
</p>

<hr class="hr-break">

<p>
    Before I had even been able to say anything, he was carrying a crate for me and despite the heavy load he was leading the way.
</p>
<p>
    We went through 
</p>

</div>