<h1>SOUNDING THE TRUMPET OF TRANS REBELLION</h1>

<br>

<div id="text-text">

<h2>PART 2</h2>

<br>

<p>
    This then was my body:
</p>
<p>
    A huge gray exoskeleton hugged my entire frame, half fused with my awful self.
    It wasn't a vehicle like exo, like factory workers got, but
    military grade semi-weaponry; stuff we had only managed to steal twice. The kinda stuff that made U
    question Ur humanity. It was all ratass jammed directly into my bones, so I couldn't take it off
    like ever. Deathtrap had had to readjust and repair the thing multiple times and despite all the
    nonsense talk and tinkering it was still too large and made me look kinda small and hunched.
</p>
<p>
    Underneath, my flesh showed itself. The skin was white like snow and kinda sickly looking in the electric light
    of the midnight park lamps. But at least it was soft to the touch. 
</p>
<p>
    I had both good muscles and good fat. My pelvis was tiny, my stomach bloated, and my tits almost
    nonexistant, the hope that they might grow more crushed long ago.
</p>
<p>
    My face was the absolute worst. It was dominated by a square chin. My nose was a big ugly bulb.
    My hair was short and black and cute and soft, but my hairline was receding in the worst possible way.
    I might've been a bridge troll. I certainly didn't deserve to be a human.
</p>
<p>
    U could not really see my age, no matter how U looked. I was a young woman or an old hag,
    but never in between.
</p>
<p>
    I was not pretty. I was not beautiful. This was the body which I had
    fought for my entire life, and it still wasn't even close to being finished.
    Maybe it never would be.
</p>
<p>
    Sad green eyes looked back at me from the reflection in the small lake.
</p>

<hr class="hr-break">

<p>
    It wasn't actually a lake, I think. I dunno. It was somewhere in between small lake and humongous pond. My sorry ass was
    standing there because my load was too heavy and the tired had gotten through to me, even though I knew someone, anyone,
    must've heard the crash. My luck was way too rotten for that not to have happened. There was probably cops right around the
    corner, and worse yet it was probably corporate since Britz was half bought as far as I knew. State cops I could probably take, I thought,
    at least the regular ones, since they were mostly scared and underpaid little shitlets. Corporate police were
    another matter entirely. They were well armed mercenaries, as much army as police, equipped with exos like mine and other
    more dangerous junk. Fighting them would be a fuckfest and the end of my shitoid life.
</p>
<p>
    So basically, there was plenty of reason to leave and to do so quickly, as C-Witch had advised. No time for starring at
    reflections and having suicidal ideations. I picked up the crates again, my small body being almost entirely covered, and went
    to get up the stairs. I decided to just ... kinda ... wander around lake, I suppose.
</p>
<p>
    This was bigawful plan, but one without alter. There were no directions to be had, there was only the night and the semi wild
    plantlife. My feet sunk into a puddle. I walked
    right next to the deathy lake, which was in half freeze. Light reflected into it. It was mostly electric, but I couldn't help
    but think that some stray sunlight had made its way the whole stretch to the moon, jumping towards earth, going straight through
    the trash layer and into my lake, just to be wasted by my eyes. It was freak cold now and my breath didn't just show, but
    condensed against the crates and froze. Since I couldn't really look ahead, I tried enjoying the park. Normally the pathway
    fades as we walk from A to B, dripping into the background of our thoughts who are so much more important. But o, at any costs,
    I did not want to think anymore.
</p>
<p>
    There were statues of horrible figures made of stone, their visage blinking in and out of the shadows. My steps went past. A small gift
    shop long abandoned and overgrown with exotic plants. Towards a small electric fence with a little tent and a herd of small sheep in
    it, who had so much wool on them
    that one dared not imagine how they moved. Prob they rolled around. Valentina might've known, I thunk, but I wasn't gonna ask.
</p>
<p>
    Valentina was a dirty peoples person and maybe an animal person too and I loathed her for this reason. Not that she had done me
    wrong, but I was not a peoples person and in fact was barely people, so I was opposed to her on principal. Wasn't just jealousy
    either. Well, okay, I sorta was jealous of her shit eating grin when she was around others, when I
    was completely incapable of this. But that was kinda it.
</p>
<p>
    I lowered the crates to the ground. They were so unuberly, crackshit, testiclebust heavy. I had been going up a small hill and
    was now standing in front of an herbal garden. It was composed a bunch of small sections with largely useless and frozen plants
    with plaquettes of some description. Something about my exo must've been sinkspit, so I wasn't as strong anymore. Or maybe I was just
    tired and depressed and had no motivation. A 50/50, I'd say.
</p>
<p>
    From second to second I missed them more and more. Not just Valentina, but all of em, even Bright kinda. I missed their warmth
    and how they would sit me down and tell little jokes or talk about hyper specific things my moshbrain would never understand. Really,
    I was desperate for a hug.
</p>
<p>
    Meanwhile my thinkshitter got back to the memory of the crushed person and the pilot. I heaved the crates up again and carefully
    stomped down the stone steps of the herb garden.
</p>
<p>
    Imagine my shock, when I a flashlight suddenly illuminated my back.
</p>
<p>
    Of course.
</p>
<p>
    I was doomed (and immensely relieved). Perhaps I could've ran away, but not with the load and that was the one thing I couldn't leave behind. Not after
    what I had done to get it. Fight or flight was not a choice, my fate had already been decided by inanimate objects. So I stopped.
    My body, and U now know the kind of thing it is, tensed up.
    "U there, I can see U!" The flashlight burned further into me. Cold sweat made its way towards my eyes. My harsh shadow was thrown
    across the nearby lake. "The fuck is wrong with U kids these days?"
</p>
<p>
    Tho I was no kid, I had several answers as to what the fuck was wrong with me, but I didn't think he really needed one.
    The voice said: "Whatev. Just put the crates down for now. Slowly."
</p>
<p>I did.</p>
<p>
    "Good. Now lift those arms and turn around."
</p>
<p>
    And I did.
</p>
<p>
    He was a mid-sized white dude, a bit bigger than me, tugged into an overall and a cap that said something on it. He was maybe older than me
    or maybe younger. Hard to tell in the dark. Not a cop tho.
    Prob a night guard or something. Had to be. I unclenched my buttcheeks and sighed loudly. He was so nerveous; one hand
    shakily resting on a pistol. Both hands in desperate need of gloves. "Astre", I said aloud.
</p>
<p>
    He shouted: "What?"
</p>
<p>
    I could take him, I thought. I could kill him. This was a winning battle by any stretch of the imagination, and immediately my heart
    was torn and I got ashamed at how quickly violence seemed to have become the only option. The slightlike wind blew against face.
    "It's my name." I lowered my arms. By some miracle he didn't pull the gun and shoot me.
</p>
<p>
    "Why would I need Ur name!?" His face was bad, like he needed some care.
</p>
<p>
    "U don't", I said, "<a style="font-weight: bold;">I</a> need my name." In truth I needed it more than ever.
</p>
<p>
    The utter confusion in his face made him look kinda boyish. No response was mustered.
</p>
<p>
    I said: "Look, U're way in over your head.
    Could U just ... leave?"
</p>
<p>
    "Fuck U!" And he clenched the gun.
</p>
<p>
    My head became extremely light, so I overcompensated. Never look weak, ever. The piss between my pants was frozen now.
    I somewhat comically looked at the exo and then at the heavy crates. "Are U stupid or did they replace your brain with a bot?
    I got military shit. U gotta figure there's magic afoot too, right? U can't be that stupid, right?"
</p>
<p>
    "Like shit U got magic!"
</p>
<p>
    Fuck this man, I thought. "Fine then. Shoot."
</p>
<p>
    "WHAT!?" His teeth clenched.
</p>
<p>
    "Take out the gun and shoot me," I clarified.
</p>
<p>
    "I don't wanna fucking shoot another human being!"
</p>
<p>
    While painful to admit and prob freakishly sad, this was the nicest thing anyone had said to me in weeks. Nevertheless: "If I prove
    I got magic U run, right? So shoot me. I literally just said aloud my true name, it won't even scratch. I'll do it again! Astre!
    Now fucking shoot me."
</p>
<p>
    The cold winde blew another few seconds away like dust. My clothes were torn mostly and it was real hard to suppress the shiver.
    What a horrible nightmare this all had been.
</p>
<p>
    But all that this did was consolidate his confusion. His eyes were like if he never had seen a tree in his entire life and
    then, suddenly, wandered into a forest unawares. Nothing but the faint grayish hue of stray and distant lights shone on him. He was
    really gonna make me wait. I snapped:
    "U nosesharting little grovelbot! U thoughtrotten micro-plastic brain, shoot me already!"
</p>
<p>
    Nope.
</p>
<p>
    Bitter. "Axonchipinfected Pusbrain! U think I don't deserve it? Well I fucking do,
    so do Ur part! I'm a criminal! I'm apeshit crazy, ok? So shoot!"
</p>
<p>
    Didn't shoot.
</p>
<p>
    Now I got desperate. I got real scared. "FUCK U! I WILL KILL UR FUCKING FAMILY AND DROWN U ASS-SIDE DOWN IN THE LAKE UNTIL UR
    CORPSE REVERSE ENEMAS ITS GUTS OUT!"
</p>
<p>
    "Wait", he disruspted me. There was more pause for me to wail in.
</p>
<p>
    "WHYYYYY!? IT'S ME OR U, SO FUCKING KILL ME ALREADY!"
</p>
<p>
    Then I fell silent, not knowing what to say anymore. I was more scared than ever and no words would save me.
</p>
<p>
    But then, in the silence of me catching my breath and waiting for my hothead cooldown, he said something horrible and unimaginably
    cruel to me. His hands and posture loosened. The night puffed itself up in sardonic laughter. I barely dare repeat what he
    said, but I will. He said: "Heat from fire." and my entire world
    crumbled. Utter embarassement went through me like a wave. It started at my feet, shot all the way through my legs, stomach, chest, head,
    then back down until it settled resolutely in my stomach. Pain almost forced the puke out.
</p>
<p>
    He was obviously expecting something, but I didn't wanna say it. At this point I just kind wanted out, any means necessary. Well,
    not by violence, although the thought did cross my violent mind again. Before the accumulating tears could escape, I shut my eyes
    closed. Shit on Bright 31. Shit on all of them. Life is cruel and I was was never gonna get a long nights sleep.
</p>
<p>
    "Fire from heat." I responded reluctantly.
</p>
<p>
    "Oh shit ... me too."
</p>
<p>
    Je, I figured, dipshit. Didn't say that. Instead: "Why do I care?"
</p>
<p>
    "I ... well ... I dunno. Honest: I didn't think that was gonna work."
</p>
<p>
    "O fuck U. I know I don't pass well. Don't pretend."
</p>
<p>
    "Je, but ... I dunno, I just never said it before", he said, "why U here?"
</p>
<p>
    My gaze went to the crates behind me. "I'm moving crates", I said.
</p>

<hr class="hr-break">

<p>
    It turned out that he lived inside that tiny gift shop. He was not, in fact,
    a night guard. Just a homeless person who had made himself a home (illegally) in an old abandoned gift shop
    and sometimes had protect it from
    odd stranger such as me. This was pretty cool, I had to admit. Even tho I was jealous, cuz he passed
    pretty good, and even tho I wanted to be alone, my opinion of him
    improved immensely; especially as he wordlessly carried a crate for me. Did not think a human without exo
    could carry even half of one.
    We went towards the exit
    together and, lucky me, he actually knew where that was, so I wasn't walking
    in circles anymore.
</p>
<p>
    However, my opinion of him worsened again, bit by bit, cuz of his
    continued attempts at smalltalk. He asked how things were going. They going shite (the details
    I omitted for obvious reasons). He asked me since when I had started transition, which was a super
    long time ago but the e supply was patchy and I had detransioned through lack of supply many times.
    Not much of that I was able to explain, but he understood. In fact, he told me of his suicide
    attenmpts, all casually, a few years ago. Very relatable, but I really didn't feel like talking about death.
</p>
<p>
    Morning dared its way toward the sky when we were still in the park.
</p>


</div>