<h1>SOUNDING THE TRUMPET OF TRANS REBELLION</h1>

<br>

<div id="text-text">

<h2>PART 2</h2>

<br>

<p>
    This then is my body:
</p>
<p>
    My skin was white and kinda blass, even the yellow light of midnight park lamp. But at least it was soft.
</p>
<p>
    My arms, legs and basic body frame was all synthetic. It was not the stealthy make of civilian cyber, but
    military grade semi-weaponry which we had only ever gotten hold of once and which only Toaster and I had.
    For this I was grateful, although it made me look somewhat inhuman.
</p>
<p>
    The human part of me was trained and I had both muscles and fat. My tits were absolutely huge, by which I mean b-cup.
</p>
<p>
    My face was dominated by the square chin. My nose was a big ugly bulb. My hair was short and black and cute and soft, but
    my hairline was receding in the worst possible way.
</p>
<p>
    Anyway U looked at me, U could not really see my age. One would either see me as a young woman or an old hag,
    but never in between. I was not pretty. I was not beautiful.
</p>
<p>
    Sad green eyes looked back at me from the reflection in the small lake.
</p>

<hr class="hr-break">

<p>
    It wasn't really a lake, I think. I dunno. It was somewhere in between small lake and humongous pond. My sorry ass was
    standing there because my load was too heavy and the tired had gotten through to me, even though I knew someone, anyone,
    must've heard the crash. I was way too unlucky for that not to have happened. There was probably cops right around the
    corner, and worse yet it was probably corporate since I was in Neukölln. State cops I could probably take, I thought,
    at least the regular ones, since they were mostly scared and underpaid little shitlets. But corporate police were
    basically well armed mercenary armies. Like, they had power skels and junk.
</p>
<p>
    So basically, there was plenty of reason to leave and to so quickly, as C-Witch had advised. The load was another matter.
    I was ideating leaving behind a crate or two, but this made me feel so fucking guilty. Like, if someone robbed and murdered me,
    I'd be downright furious if they just left halve shit they murdered me for behind. Then again, I wouldn't be rooring for the
    survival of my murderer, so maybe that was a moot point. I-
</p>
<p>
    "Hello!?", shouted a raspy voice from behind me. I was doomed.
</p>
<p>
    "You there, I can see you!" A flashlight burned my back and exposed my harsh shadow to the lake. "Why do U keep coming here? The
    fuck is wrong with U people?"
</p>
<p>I had several answers as to what the fuck was wrong with me, but I didn't think he really needed one. The voice said: "Now lift
    those arms and turn around." And I did </p>
</div>