<h1>SOUNDING THE TRUMPET OF TRANS REBELLION</h1>

<br>

<div id="text-text">

<h2>PART 3</h2>


<p>
    In this very moment, I ought to have broken. I wanted cry to more than I had wanted to cry for 3 days without. Actually, I was so darn
    near breaking, that I could barely contain the jittering that I had only ever let out when no one was around. I wanted to become insane
    , to drive myself
    completely mad so that I wouldn't have to bear the burden of sentience anymore. But it never works out that way. U can scream but no one
    will help U the way U need cuz they don't know how. And neither will U end after Ur lung is empty. Sanity will never fade and pain will
    never stop, all U can
    hope achieve is the bliss of enduring it.
</p>

</div>