<h1>SOUNDING THE TRUMPET OF TRANS REBELLION</h1>

<br>

<div id="text-text">

<h2>PART 3</h2>


<p>
    "So ... do U need help?"
</p>
<p>
    Although I hated to admit it, this was now the second most nicest thing anyone had said to me in weeks.
    I said: "More than U know. But it'd really be better if U left. I wasn't joking. I am a criminal and a bad person and
    I got unlicenced magic."
</p>
<p>
    "Like a licence would make it less dangerous." He seemed to look into the distance, the direction of where I had crashed.
    "Anyways U don't gotta worry until morning. There ain't any other guards tonight, cuz there's nothing to steal. Only
    people I usually gotta throw out are entitled night
    joggers with dogs and teenagers who don't care what crime they're commiting so long as they're commiting it."
</p>
<p>
    Great, so I had either a woman and a dog or damned child. I became more horrid by the second and I started to feel like I should kill
    myself right after I the crate delivery. It was truly festering within me, like an ulcer in my soul. It grew and grew and I could feel
    it thrive. Not yet.
</p>
<p>
    "Well," I said, forcing a smile, "lucky me." Why did I have to meet another trans person? I should've met a nazi instead or some other
    person hostile towards my existence, at least I would've known how to deal with that. Of course I didn't say any of that. Instead, I asked:
    "U probably know the out, then?"
</p>
<p>
    "Je, of course."
</p>

<hr class="hr-break">

<p>
    Before I had even been able to say anything, he was carrying a crate for me and despite the heavy load he was leading the way.
</p>
<p>
    We went through 
</p>

</div>