.sidebar a:link {
    color: var(--mypink);
    text-decoration: none;
}


.sidebar a:visited {
    color: var(--mypink);
    text-decoration: none;
}


.sidebar a:hover {
    color: var(--mywhite);
    text-decoration: none;
}

a.disabled {
    color: grey!important;
    pointer-events: none;
    cursor: default;
}