/* Pink: R:251 G:3 B:143 or #fb038f */
/* Darkblue: R:11 G:11 B:43 or #0b0b2b*/

:root {
    --mypink: #fb038f;
    --myblue: #0b0b2b;
    --mygray: #242526;
    --mywhite: #c1e3e6;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url(./assets/fonts/OpenDyslexic3-Regular.ttf);
}

* {
    font-family: OpenDyslexic, sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: auto;
}

body {
    text-align: justify;
    overflow-y: auto;
    height: 100%;
}

.background {
    background-color: #0b0b2b;
    background-image: url(./assets/img/background_city.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

body div {
    height: inherit;
    overflow: unset;
}

.text-block {
    height: 100%;
    width: 100%;
    float: left;
    padding: 0% 0% 0% 0%;
    margin-right: 0%;
    margin-bottom: 5%;
}


.text-block h1 {
    background-color: var(--myblue);
    color: var(--mypink);
    text-align: center;
    padding: 1%;
    box-shadow: 2px 2px 5px black;
    margin-top: 0;
    margin-bottom: 0;
}


#content {
    background-color: var(--mygray);
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 5%;
    box-shadow: 2px 2px 5px black;
}

#text-text {
    margin-right: 5%;
    margin-left: 5%; 
    color: var(--mywhite)
}

#text-text p {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 1%;
    font-size: 14px;
}


#mblinks {
    display: block;
    padding-bottom: 60px;
    font-size: 20px;
}

#mblinks #mbleft {
    float: left;
    margin-left: 7%;
}

#mblinks #mbright {
    float: right;
    margin-right: 7%;
}

#mblinks div {
    padding-bottom: 30px;
}

.mbbreak {

    align-self: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 100%;
}

.nolink {
    color: black;
}

.islink:link {
    color: var(--mypink);
    text-decoration: none;
}


.islink:visited {
    color: var(--mypink);
    text-decoration: none;
}


.islink:hover {
    color: var(--mywhite);
    text-decoration: none;
}

.hr-break {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
}

.page {
    color: var(--myblue);
}

.header-image {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 90%;
}

.italic {
    font-style: italic;
}


.navigation-header {
    background-color: var(--myblue);
    margin-right: 0%;
    margin-left: 0%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 2px 2px 5px black;
}

#content-wrapper {
    padding-top: 2%;
    margin-right: 0%;
    margin-left: 0%;
    height: 100%;
}

#content-wrapper div {
    height: fit-content;
}

.sidebar {
    display: none;
}

@media (min-width: 576px) {

    .sidebar {
        display: inline;
        background-color: var(--myblue);
        color: var(--mypink);
        height: fit-content;
        width: 22%;
        right: 0%;
        position: absolute;
        padding: 18px 12px;
        box-shadow: 2px 2px 5px black;
        text-align: center;
    }

    .sidebar p {
        padding-bottom: 5px;
    }

    .sidebar div {
        margin-bottom: 20px;
    }

    .sidebar .sidebarbreak {
        display: block;
        align-self: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 20px;
        width: 70%;
        border: 0px;
        border-top: 1px solid var(--mygray);
    }

    .sidebar #nextlink {
        float: right;
        padding-right: 7%;
    }

    .sidebar #prevlink {
        float: left;
        padding-left: 7%;

    }

    .text-block {
        width: 70%;
        float: left;
    }
    
    #text-text {
        margin-right: 10%;
        margin-left: 10%; 
        color: var(--mywhite)
    }
    
    #text-text p {
        font-size: 18px;
    }

    #mblinks {
        display: none;
    }
}

@media (min-width: 1200px) {

    .sidebar {
        width: 14.5%;
        left: 68.5%;
    }

    .navigation-header {
        margin-right: 17%;
        margin-left: 17%;
    }
    #content-wrapper {
        margin-right: 17%;
        margin-left: 17%;
    }

}